.cart-container {
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  font-family: "Arial", sans-serif;
  box-sizing: border-box;
}

/* 헤더 스타일 */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-sizing: border-box;
  font-size: 18px;
}

.header h1 {
  margin: 0;
  font-size: 20px;
  color: #fff;
}

/* Home 버튼 스타일 */
.header .home-button {
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.header .home-button:hover {
  color: #ddd;
  text-decoration: none;
}

.footer {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
}

.cart-items {
  margin: 20px 0;
  padding-top: 20px; /* 헤더 고정으로 인한 공간 확보 */
}

.cart-status {
  margin-top: 80px; /* 헤더와의 간격을 확보하기 위한 마진 */
  font-size: 16px;
  color: #333;
  text-align: center;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.cart-item img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
}

.item-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  flex-grow: 1;
}

.item-details h2 {
  margin: 0;
  font-size: 16px;
}

.item-details .price {
  margin: 5px 0;
  font-size: 16px;
  font-weight: bold;
}

.quantity-controls {
  display: flex;
  align-items: center;
}

.quantity-controls button {
  background-color: #ddd;
  border: none;
  padding: 3px 8px;
  cursor: pointer;
}

.quantity-controls span {
  margin: 0 10px;
  font-size: 16px;
}

.summary {
  margin-top: 20px;
}

.summary p {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.purchase-button {
  width: 100%;
  padding: 12px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.purchase-button:hover {
  background-color: #444;
}
